<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518099036970-rtr04vcrl441s7538h4fb7lba2c4ad10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518099036970-rtr04vcrl441s7538h4fb7lba2c4ad10</string>
	<key>API_KEY</key>
	<string>AIzaSyCfWXXe19O9ISJIGIs5HJsyF2zieOSOPS8</string>
	<key>GCM_SENDER_ID</key>
	<string>518099036970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viniciusperrone.mobile</string>
	<key>PROJECT_ID</key>
	<string>rocket-help-e99f6</string>
	<key>STORAGE_BUCKET</key>
	<string>rocket-help-e99f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518099036970:ios:2195d99e9df89bb2158c53</string>
</dict>
</plist>